body {
  background: #2d2d2d;
}
.units {
  height: 23px;
  width: 23px;
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  display: inline-block;
}

.units:hover {
  background-color: orange;
}

.container {
  width: 1250px;
  line-height: 0;
  margin: 30px auto;
  border: 5px double #222;
}

.pos {
  animation-name: blink;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  background: url(hero.png) slategray center center no-repeat;
  background-size: cover;
  border-color: slategray;
}

.brick {
  background-color: firebrick;
  border: 1px solid #a44;
}

.visible {
  background-color: #bbb;
  border: 1px solid #aaa;
}

.dirButton {
  margin: 3px;
  padding: 5px 0;
  background-color: rgba(32, 32, 32, 0.3);
  width: 55px;
  border: 1px ridge #888;
  font-size: 20px;
  color: white;
}

.navigation {
  position: fixed;
  bottom: 5px;
  left: 40vw;
}

@keyframes blink {
  0% {
    background-color: #eee;
  }

  100% {
    background-color: slategray;
  }
}
@keyframes blinkblack {
  0% {
    background-color: lightgray;
  }

  100% {
    background-color: black;
  }
}
.statsbar {
  display: inline-text;
  background: #333;
  padding: 5px;
  color: lightgreen;
  position: fixed;
  top: 5px;
  left: 5px;
}
.statsbar span {
  font-size: 20px;
  margin: 10px;
}
.thug {
  background: url(enemy.svg) #222 center center no-repeat;
  background-size: cover;
  border-color: #222;
}
.boss {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  background: url(boss.png) #bbb center center no-repeat;
  background-size: cover;
  border-color: slategray;
}
.actionbar {
  display: inline-block;
  width: 380px;
  color: coral;
  font-size: 20px;
  background: #333;
  position: fixed;
  top: 5px;
  right: 1px;
}
.actionbar span {
  margin: 8px;
}
.display-section {
  display: flex;
  justify-content: space-between;
}
@keyframes spin {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.potion {
  background: url(hp.png) #3e3 center center no-repeat;
  background-size: cover;
  border-color: #3e3;
}
.weapon2 {
  background: url(hammer.png) indianred center center no-repeat;
  background-size: cover;
  border-color: indianred;
}
.weapon3 {
  background: url(sword.svg) dodgerblue center center no-repeat;
  border-color: dodgerblue;
  background-size: cover;
}
.weapon4 {
  background: url(fire.png) white center center no-repeat;
  background-size: cover;
  border-color: white;
}
