body {
  background: #2d2d2d;
}
.units {
  height: 28px;
  width: 28px;
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  display: inline-block;
}

.units:hover {
  background-color: orange;
}

.container-wrapper {
  width: 330px;
  height: 390px;
  overflow: hidden;
  margin: 50px auto;
}
.container {
  width: 1500px;
  line-height: 0;
}

.pos {
  animation-name: blink;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  background: url(icons/hero.png) center center no-repeat;
  background-size: cover;
  border-color: #0062d3;
}

.brick {
  background: url(icons/brick-wall.png) center;
  background-size: cover;
  border: 1px solid #b22;
}

.visible {
  background: url(icons/path-tile.png) center;
  background-size: cover;
  border: 1px solid #aaa;
}

.dirButton {
  margin: 3px;

  width: 60px;
  height: 60px;
  background-color: rgba(32, 32, 32, 0.3);
  border: 1px ridge #888;
  font-size: 20px;
  color: white;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 2px;
}

@keyframes blink {
  0% {
    background-color: #555;
  }

  100% {
    background-color: #222;
  }
}
/* @keyframes blinkblack { */
/*   0% { */
/*     background-color: lightgray; */
/*   } */

/*   100% { */
/*     background-color: black; */
/*   } */
/* } */
.statsbar {
  display: inline-text;
  background: rgba(13, 13, 13, 0.4);
  text-align: center;
  padding: 5px;
  color: lightgreen;
  margin: 3px;
}
.statsbar span {
  font-size: 20px;
  margin: 10px;
}
.thug {
  background: url(icons/enemy.png) #222 center center no-repeat;
  background-size: cover;
  border-color: coral;
}
.boss {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: url(icons/boss.png) center center no-repeat;
  background-size: cover;
  border-color: #ff1c1c;
}
.actionbar {
  display: inline-text;
  text-align: center;
  color: coral;
  background: rgba(13, 13, 13, 0.4);
  padding: 5px;
  margin: 3px;
}
.actionbar span {
  font-size: 20px;
  margin: 10px;
}
@media screen and (min-width: 500px) {
  .display-section {
    display: flex;
    justify-content: space-between;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.potion {
  background: url(icons/hp.png) #bbb center;
  background-size: cover;
  border-color: #2d2d2d;
}
.weapon2 {
  background: url(icons/hammer.png) indianred center center no-repeat;
  background-size: cover;
  border-color: #2d2d2d;
}
.weapon3 {
  background: url(icons/sword.png) dodgerblue center center no-repeat;
  border-color: #2d2d2d;
  background-size: cover;
}
.weapon4 {
  background: url(icons/fire.png) white center center no-repeat;
  background-size: cover;
  border-color: #2d2d2d;
}
.dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.4);
}
