body {
  background: #333;
}
.units {
  height: 15px;
  width: 15px;
  background: #222;
  border: 1px solid #222;
  display: inline-block;
}

.units:hover {
  background: orange;
}

.container {
  width: 1020px;
  line-height: 0;
  margin: 30px auto;
}

.pos {
  background: rgb(0, 125, 225);
  animation-name: blink;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

.brick {
  background: firebrick;
  border: 1px solid #888;
}

.visible {
  background: lightgray;
  border: 1px solid silver;
}

@keyframes blink {
  0% {
    background: lightgray;
  }

  100% {
    background: rgb(0, 125, 225);
  }
}
